body {
    font-family: 'Lato', sans-serif;
    background-color: #181818;
    color: white;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 18px;
    font-weight: 300;
    color: #ccc;
}

.form-section {
    text-align: center;
    margin-bottom: 40px;
}

.form-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760;
}

.info-section {
    text-align: center;
}

.info-section h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px; /* Limit paragraph width for better readability */
    margin: 0 auto;
}

.genres-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.genre-item {
    text-align: center;
    margin: 10px;
}

.genre-icon {
    width: 40px; /* Smaller icon size */
    height: 40px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #ccc;
}
